<% provide(:title, '手机列表') %>
<p id="notice"><%= notice %></p>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-success" %>
<% end %>

<p><strong>Name:</strong><%= @phone.name %></p>
<p>创建时间: <%= @phone.created_at %></p>
<%= link_to '编辑', edit_phone_path(@phone) %> | 
<%= link_to '返回', phones_path %>
