<%= content_for :page_title, @post.title %>
<section class="section">
  <div class="container">
    <nav class="level">
      <p class="level-item"><%= @post.title %></strong></p>
      <div>
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_post_path(@post), class: 'button is-small' %>
          <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "主人真的要删除我吗?" }, class: 'button is-danger is-small' %>
        <% end %>
      </div>
    </nav>
    <hr />
    <div class="content"><%= @post.content %></div>
  </div>
</section>

<section class="section comments">
  <div class="container">
    <div class="subtitle is-5">评论: <%= @post.comments.count %></div>
    <%= render @post.comments %>
    <div class="commnet-form">
      <hr />
      <div class="subtitle is-5">评论区</div>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>
