<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-primary">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="logo" href="/">简存</a>
            <!-- <a class="navbar-item" href="/"><%# <%= image_tag("bulma.png", :alt => "Logo") %> %></a> -->
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <%= link_to "Home", root_path, class: "navbar-item" %>
              <%= link_to "Create", new_post_path, class: "navbar-item" %>
              <!-- <a class="navbar-item is-active">Home</a> -->
              <a class="navbar-item">Documentation</a>
              <a class="navbar-item">About</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    </section>
    <%= yield %>
    <%# <%= Time.now %>
    <script type="text/javascript">
      const logo = document.querySelector('.logo');
      logo.innerHTML = wrapWithSpan(logo.textContent);

      function wrapWithSpan(word) {
        return [...word].map(letter => `<span>${letter}</span>`).join(' ');
      }
    </script>
  </body>
</html>
